.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background: #2A2C2F;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .page {
    width: 375px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}