.intro__list {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  width: 100%;
  margin-top: 33px;
  padding: 0;
}

@media screen and (max-width: 560px) {
    .intro__list {
      margin-top: 34px;
    }
}