.lead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 92px;
}

.lead:last-of-type {
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }
}