.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 77%;
    padding-top: 56px;
}

.lead:last-of-type {
    align-items: flex-start;
}

@media screen and (max-width: 1120px) {
  .lead {
    width: 91%;
    padding-top: 48px;
  }
}

@media screen and (max-width: 960px) {
  .lead {
    width: 100%;
  }
}