.cover__subtitle {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 30%;
    color: #fff;
    padding-top: 32px;
    z-index: 1;
}

@media screen and (max-width: 1180px) {
  .cover__subtitle {
    width: 35%;
  }
}

@media screen and (max-width: 945px) {
  .cover__subtitle {
    width: 47%;
  }
}

@media screen and (max-width: 700px) {
  .cover__subtitle {
    width: 65%;
  }
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    width: 80%;
    padding-top: 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
    width: 90%;
  }
}

@media screen and (max-width: 340px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
      width: 90%;
      padding-top: 16px;
    }
}