.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    height: 52px;
    padding-top: 28px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 91%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 94%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        width: 90%;
        height: 42px;
    }
}