.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    max-height: 52px;
    padding-top: 28px;
    margin: 0 auto;
}

@media screen and (max-width: 1120px) {
    .header {
        width: 91%;
    }
}

@media screen and (max-width: 960px) {
    .header {
        width: 94%;
    }
}

@media screen and (max-width: 540px) {
    .header {
        width: 90%;
        max-height: 42px;
        padding-top: 16px;
    }
}