.lead__title {
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    width: 56%;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: 70%;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 94%;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}