.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;

  max-width: 720px;
  padding-top: 92px;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .intro {
    margin-left: 35px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .intro {
   width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-top: 64px;
  }
}