.cover {
  width: 93%;
  height: 740px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .cover {
      width: 100%;
      height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
      height: 480px;
      padding-top: 90px;
    }
}

@media screen and (max-width: 425px) {
  .cover {
    height: 380px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 320px) {
    .cover {
      height: 200px;
      padding-top: 64px;
    }
}