.cover {
  width: 93%;
  margin: 0 auto;
  padding-top: 92px;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover {
      width: 100%;
      min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
      min-height: 480px;
      padding-top: 90px;
    }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 350px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 375px) {
  .cover {
    min-height: 300px;
    padding-top: 64px;
  }
}

@media screen and (max-width: 320px) {
    .cover {
      min-height: 200px;
      padding-top: 64px;
    }
}