.place__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-decoration: underline;
    color: #FFF;
    width: 456px;
}

@media screen and (max-width: 768px) {
    .place__link {
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        width: 288px;
        margin-left: 16px;
    }
}