.footer {
    display: grid;
    grid-template-columns: 4efr 1fr;
    grid-template-rows: 1fr;
  
    align-content: center;
    width: 1184px;
    height: 18px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 928px;
        height: 18px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
        height: 18px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        align-content: flex-start;
        width: 186px;
        height: 310px;
        padding-top: 64px;
    }
}