.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    height: 18px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 91%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 94%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        width: 58%;
        height: 310px;
        padding-top: 64px;
        margin-left: 16px;
    }
}