.intro__title {
    font-weight: bold;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    width: 100%;
}

  @media screen and (max-width: 960px) {
    .intro__title {
      width: 94%;
    }
  }

  @media screen and (max-width: 540px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
      width: 90%;
    }
  }